/* link */
a:link {
  color: red;
}

/* link ya visitado */
a:visited {
  color: green;
}

/* link pasado por arriba con el mouse */
a:hover {
  color: violet;
}

/* link activo */
a:active {
  color: blue;
}